<% provide(:title, "Edit a user") %>
<div class = "form">
   <div class="text-div">
     <div class = "headings">
      <h1><b>Edit a User</b></h1>
     </div>
      <%= render 'form', user: @user %>

      <p><%= link_to 'Back', @user,  class: "buttonsm" %></p>
      <p></p>
  </div>
</div>