<% provide(:title, "Edit a user") %>
<div class = "form">
   <div class="text-div">
      <h1>Editing User</h1>

      <%= render 'form', user: @user %>

      <p><%= link_to 'Back', @user,  class: "buttonsm" %></p>
      <p></p>
  </div>
</div>