<% provide(:title, "Create an activity") %>

<h1 align = center>Create an activity type</h1>

<%= render 'form', activity_type: @activity_type %>

<p align = center><%= link_to 'Back', activity_types_path %></p>

