<% provide(:title, "Show an activity") %>

<h1>Activity Type</h1>

<p><%= @activity_type.name %></p>

<%= link_to 'Back', activity_types_path %>
<%= link_to 'Edit', edit_activity_type_path(@activity_type) %>