@import "bootstrap-sprockets";
@import "bootstrap";

#tooplate_wrapper {
	border: 2px border-style #000;
	width: 960px;
	padding: 0 9px;
	margin: 0 auto;
  //background-image: url("tooplate_header.jpg") !important;
}

#tooplate_header {
	height: 100px;
	clear: both;
	padding: 20px 0;
	text-align: center;
	background: #d7e8f9;
}

#tooplate_main {
	clear: both;
	width: 880px;
	padding: 10px 40px 0;
	background: url(images/tooplate_main.jpg) no-repeat top
}

#slider_wrapper {
	clear: both;
	width: 880px;
	height: 320px;
	background: url(images/tooplate_slider.png) bottom center no-repeat
}

#tooplate_footer {
	clear: both;
	padding: 20px 0;
	text-align: center;
	background: #d7e8f9;
}

#tooplate_footer a { color: #000 }

.form{
  text-align: center;
}

.pagination { 
  .previous_page { background:#ddd; color:black }
  .previous_page.disabled { background: #ddd; color: #777 }
  .current {border: 3px solid #ddd; background: yellow }
  .next_page { background: #ddd; color: black}
  .next_page.disabled { background: #ddd; color: #777 }
}

.pagination a {
	border: 3px solid #ddd; /* Gray */
	background: #ddd;
}

.pagination a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.image {
	border-radius: 8px;
	width: 50%;	
}

.box{
	border: 5px solid;
	border-radius: 5px;
	width: 300px;
	height: 300px;
	padding: 10px 10px 10px 10px;
}
.glyphicon {
	padding-left: 10px;
	padding-top: 15px;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
