@import "bootstrap-sprockets";
@import "bootstrap";

#tooplate_footer {
	clear: both;
	padding: 20px 0;
	text-align: center;
	background: #d7e8f9;
}

#tooplate_footer a { color: #000 }

body {
	background-image: image_url('background.jpg');
}
.form{
	text-align: center;
	background-position: center;
}

.pagination {
  .previous_page { background:#ddd; color:black }
  .previous_page.disabled { background: #ddd; color: #777 }
  .current {border: 3px solid #ddd; background: yellow }
  .next_page { background: #ddd; color: black}
  .next_page.disabled { background: #ddd; color: #777 }
}

.pagination a {
	border: 3px solid #ddd; /* Gray */
	background: #ddd;
}

.pagination a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.image {
	border-radius: 8px;
	width: 50%;
}

.box{
	border: 5px solid;
	border-radius: 5px;
	width: 300px;
	height: 300px;
	padding: 10px 10px 10px 10px;
}
.glyphicon {
	padding-left: 10px;
	padding-top: 15px;
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

table, th, td {
	border: 1px solid black;
}
