@import "bootstrap-sprockets";
@import "bootstrap";

#tooplate_footer {
	clear: both;
	padding: 20px 0;
	margin-top: 20px;
	text-align: center;
	background: #ffeb8e;
	background: linear-gradient(to bottom, #ffeb8e, #DA9A12); /*Standard*/
}

#tooplate_footer a { color: #000 }

body {
	background-image: image_url('background.jpg');
}
.form{
	text-align: center;
	background-position: center;
}

.pagination {
  .previous_page { background:#ddd; color:black }
  .previous_page.disabled { background: #ddd; color: #777 }
  .current {border: 3px solid #ddd; background: yellow }
  .next_page { background: #ddd; color: black}
  .next_page.disabled { background: #ddd; color: #777 }
}

.pagination a {
	border: 3px solid #ddd; /* Gray */
	background: #ddd;
}

.pagination a:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.pagination a:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.image {
	border-radius: 8px;
	width: 50%;
}

.box{
	border: 5px solid;
	border-radius: 5px;
	width: 300px;
	height: 350px;
	//padding: 10px 10px 10px 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.glyphicon {
	padding-left: 10px;
	padding-top: 15px;
}

.button {
	background-color: #ffeb8e;
	border: 2px solid #000000;
	color: #4623E4;;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 12px;
	box-shadow: 0 9px #999;
	cursor: pointer;

}

.button:hover{
	background-color: #ffeb8e;
}

.button:active {
  background-color: #ffeb8e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonsm {
	background-color: #ffeb8e;
	border: 2px solid #000000;
	color: #4623E4;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	border-radius: 12px;
	box-shadow: 0 9px #999;
	cursor: pointer;

}

.buttonsm:hover{
	background-color: #ffeb8e;
}

.buttonsm:active {
  background-color: #ffeb8e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
	background-color: #ffeb8e;
	color: #4623E4;
	position: relative;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.navbar-default{
	background-color: #ffeb8e;
	background: linear-gradient(to bottom, #ffeb8e, #DA9A12); /*Standard*/
	color: #4623E4;
}

.logo {
	margin-bottom: -1.5em;
	margin-left: 1em;
	margin-top: 1em;
}

.border{
	border-color: blue;
}
.map_key{
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	padding-left: 20px;
}
.text-div{
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	padding-left: 20px;
}
.sidenav {
	padding-top: 20px;
	height: 100%;
}
.loc-table{
	background-color: rgba(255,255,255,0.5);
	th, td {
		border: 3px solid black;
		color: black;
	}
}
.container {
	width: 40%;
	height: 10%
}

.container-fluid {
	background-position: center;
}
