<% provide(:title, "Create an attraction") %>

<h1 align = center>Create an attraction type</h1>

<%= render 'form', attraction: @attraction %>

<p align = center><%= link_to 'Back', attractions_path %></p>